/** @format */

.UnitConverter {
  width: 90%;
}

.high-div {
  height: 52px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.bold {
  font-weight: 600;
  color: blue;
}

.cursor-pointer {
  cursor: pointer;
}

.converter-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 8px 5px 8px 5px;
}

.measurement-type,
.converter-item {
  background: inherit;
  margin-bottom: 5px;
  border-radius: 8px;
}

.small-font {
  font-size: 0.92em;
  color: gray;
}
