/** @format */

body,
html {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: Padauk;
  src: url(./fonts/Padauk-Regular.ttf);
}

* {
  font-family: system-ui, Padauk;
  font-size: 1em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.dark {
  background-color: rgb(59, 59, 59);
  color: white;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  row-gap: 5px;
  position: relative;
  padding-bottom: 75px;
  padding-top: 5px;
}

.Navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: white;
}

.navbar-items-container {
  display: flex;
  align-items: center;
  border-top: 1px solid rgb(230, 230, 230);
}

.navbar-links {
  flex: 1;
}

.Navbar-items {
  font-size: 0.95em;
  font-weight: 500;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  flex: 1;
  cursor: pointer;
  transition: all 0.3s ease;
  border-top: 2px solid #0000ff00;
}

.active {
  color: rgb(0, 0, 5);
  font-weight: bold;
  border-top: 2px solid rgb(0, 0, 255);
}

@media (min-width: 900px) {
  .Navbar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    border: none;
    border-right: 1px solid #e6e6e6;
    width: 80px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .navbar-items-container {
    display: grid;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    width: 100%;
  }

  .Navbar-items {
    width: 80px;
    display: flex;
    row-gap: 0;
    flex: 1;
    height: 50px;
    border-right: 2px solid rgba(0, 0, 255, 0);
  }

  .App {
    padding-left: 85px;
    padding-top: 5px;
  }

  .active {
    border-top: 2px solid #0000ff00;
    border-right: 2px solid #0000ff;
  }
}

.Navbar > div:focus,
.Navbar > div:active,
.Navbar > div:hover {
  outline: none;
}

.Navbar > div:hover {
  font-weight: bold;
}

.icons {
  height: 30px;
}

.small-icons {
  height: 25px;
}

/* Bottom */

.Convert {
  width: 95%;
  display: grid;
  row-gap: 15px;
}

.Convert > div {
  width: 100%;
}

.small-container {
  height: 50px;
  border-radius: 5px;
  border: 1px solid rgb(196, 196, 196);
  display: flex;
  align-items: center;
  padding: 5px;
  column-gap: 5px;
}

.no-border {
  border: 1px solid rgba(0, 0, 255, 0);
  display: flex;
  justify-content: space-between;
  transition: all 0.15s ease;
}

.selected-message {
  color: rgb(119, 119, 119);
  font-weight: 600;
}

.no-border > div {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.no-border:hover {
  border: 1px solid rgb(0, 0, 255);
}

.item-selected {
  background-color: rgb(240, 240, 240);
}

.swap-container {
  display: flex;
  justify-content: center;
}

.swap-container button {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(219, 219, 219);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.amount-container input {
  border: none;
  outline: none;
  flex: 1;
  height: 100%;
  background: inherit;
}

.from-to-preview {
  padding: 5px;
  font-weight: 600;
  font-size: 1.1em;
}

.cursor-pointer {
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.button {
  height: 35px;
  width: 35px;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-3 {
  font-weight: 600;
  color: blue;
  background-color: rgb(243, 243, 243);
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button-container > button {
  width: 150px;
  height: 35px;
  background-color: rgb(83, 148, 247);
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
}

.SelectCurrency {
  width: 100%;
  position: relative;
}

.display-fl {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 50px;
  align-items: center;
}

.lg-icon {
  height: 30px;
}

.btn-2 {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.search-container {
  flex: 1;
  border: 1px solid rgb(167, 167, 167);
  background-color: white;
  margin: 5px;
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 8px;
}

.search-container input {
  border: none;
  outline: none;
  flex: 1;
  height: 100%;
}

.currency-container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.message-container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.Display {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  row-gap: 10px;
  margin-top: 10px;
}

.preview {
  color: rgb(116, 116, 116);
}

.results {
  font-family: 'Lucida Sans Regular', 'Padauk', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(63, 63, 63);
  font-weight: 600;
}

.f-1-2 {
  font-size: 1.2em;
}

.tb {
  font-weight: 600;
}

.Rates {
  width: 90%;
  display: grid;
  row-gap: 20px;
  padding-bottom: 15px;
}

.Rates > div {
  border: 1px solid blue;
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.315);
  padding: 5px;
  border-radius: 8px;
}

.currency-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.rates-container {
  padding-left: 5px;
  display: grid;
  row-gap: 15px;
  margin-top: 5px;
}

.rate-container {
  color: rgb(58, 58, 58);
}

.rates-container > div {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-weight: 500;
}

.About {
  width: 90%;
  color: rgb(85, 85, 85);
}

.card {
  background-color: #0084ff27;
  padding: 10px;
  border-radius: 8px;
}

.Settings {
  width: 90%;
}

.circle {
  background-color: #e0e0e0;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.15s ease;
}

.Line {
  height: 1px;
  background-color: rgb(170, 170, 170);
}

.setting-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-item-display {
  display: grid;
  row-gap: 5px;
  animation: drop 0.3s;
  background-color: #f3f3f3;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-weight: 600;
}

.setting-item-display > div:hover {
  background-color: #cae5ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.setting-item-active {
  background-color: #cae5ff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes drop {
  from {
    margin-top: -30px;
  }
  to {
    margin-top: 0;
  }
}

.mb-3 {
  margin-bottom: 10px;
}

.from-swap-to {
  margin-top: 20px;
  display: grid;
  row-gap: 5px;
}

.from-to-container {
  position: relative;
  margin-top: 5px;
}

@media (min-width: 900px) {
  .from-swap-to {
    display: gird;
    grid-template-columns: 1fr 60px 1fr;
    align-items: center;
  }
}

.from-to {
  position: absolute;
  top: -35px;
}

.conversion-title {
  font-weight: 600;
}

.conversion-names {
  text-decoration: underline;
  color: rgb(1, 1, 194);
  cursor: pointer;
  width: 150px;
  font-weight: 600;
  padding: 3px;
}

.ConverterTitle {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 5px 0;
  font-weight: 600;
  border-bottom: 1px solid rgb(189, 189, 189);
  position: relative;
}

.ConverterTitle > div {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  column-gap: 5px;
}

.back-con {
  cursor: pointer;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e7e7;
}

.main-title {
  position: absolute;
  left: 15%;
  right: 15%;
  display: flex;
  justify-content: center;
}

.CommonConversion {
  display: grid;
  row-gap: 7px;
}
